* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    color: #333;
    /* overflow: hidden; */
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    
    
  }
  
  



/* Basic styling */

.container {
    width: 80%;
   
}

header {
    background-color: #17dd34;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    
    
   
}

header h1 {
    display: inline-block;
}

nav ul {
    list-style: none;
    display: inline-block;
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: #f5f5f5;
    padding: 3rem 0;
    text-align: center;
}

.hero h2 {
    margin-bottom: 1rem;
}

.hero p {
    margin-bottom: 2rem;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    position: fixed;
 
    left: 0;
    right: 0;
}
